<section class="author{% if site.disqus == false %} no-disqus{% endif %}">
    <div class="toleft">
        <img class="selfie" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" alt="{{ site.name }}" alt="author selfie">
    </div>

    <div class="toright">
        <h4 class="name">{{ site.name }}</h4>
        <p class="bio">如果觉得我的文章对您有用，请随意赞赏。您的支持将鼓励我继续创作！</p>

        <div class="share">
			 <a class="givemoney" href="javascript:void(0)" onclick="dashangToggle()">
                <svg class="icon icon-givemoney" width="200px" height="200.00px"><use xlink:href="#icon-givemoney"></use></svg><span class="icon-facebook-rect"></span>
            </a>
        </div>
		
    </div>
	
	<div class="hideboxplay"></div>
	<div class="givemoney_box-play">
		<div class="givemoney_close-play">
			<a href="javascript:void(0)" onclick="dashangToggle()" title="关闭"><img src="/assets/images/givemoney/close.jpg" alt="取消" /></a>
		</div>
		<div class="givemoney_tit-play">
		  <img class="givemoney_myselfie" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" alt="{{ site.authors[page.author].name }}" alt="author selfie">
		</div>
		<div style="text-align:center">
			<div style="float:left;width:50%">
				<div ><img class="pay_logo" src="/assets/images/givemoney/alipayimg.png"></img></div>
				<div ><img class="pay_logo" src="/assets/images/givemoney/alipay.png"></img></div>
			</div>
			<div style="float:right;width:50%">
				<div><img class="pay_logo" src="/assets/images/givemoney/weipayimg.png"></img></div>
				<div><img class="pay_logo" src="/assets/images/givemoney/wechat.png" ></img></div>
			</div>
		</div>
		<p style="text-align:center">扫码打赏,打赏随意</p>
	</div>
	
	<script type="text/javascript">
		function dashangToggle(){
		  $(".hideboxplay").fadeToggle();
		  $(".givemoney_box-play").fadeToggle();
		}
	</script>
			
</section>
