.mainbg
	background: url(/assets/images/background-cover.jpg) center center no-repeat #FFFFFF
	width: 100%
	height: 100%
	background-size: cover
	position: fixed
	z-index: 900
	display: block
	

.mainbgcover
	position: absolute
	top: 0
	left: 0
	content: ""
	background-color: $cover
	opacity: 0.2
	z-index: 0
	width: 100%
	height: 100%
	display: block
	
.hideboxplay
	z-index: 999
	filter: alpha(opacity=50)
	background: #666
	opacity: 0.5
	-moz-opacity: 0.5
	left: 0
	top: 0
	height: 99%
	width: 100%
	position: fixed
	display: none

.givemoney_box-play
	width: 540px
	height: 540px
	padding: 10px
	background-color: #fff
	border-radius: 10px
	position: fixed
	z-index: 1000
	left: 50%
	top: 50%
	margin-left: -280px
	margin-top: -280px
	border: 1px dotted #dedede
	display: none

.givemoney_close-play
	float:right
	display:inline-block
	margin-right: 10px
	margin-top: 20px
     
.givemoney_payimg
	width: 140px
	padding: 10px
	padding-left: 80px
	border-radius: 3px
	height: 140px
	display: inline-block

.givemoney_close-play
	float:center
	display:inline-block
	margin-top: 20px

.givemoney_tit-play
	width: 100%
	height: 125px
	float: center