.mainbg
	background: url(/assets/images/background-cover.jpg) center center no-repeat #FFFFFF
	width: 100%
	height: 100%
	background-size: cover
	position: fixed
	z-index: 900
	display: block
	

.mainbgcover
	position: absolute
	top: 0
	left: 0
	content: ""
	background-color: $cover
	opacity: 0.2
	z-index: 0
	width: 100%
	height: 100%
	display: block
	
.hideboxplay
	z-index: 999
	filter: alpha(opacity=50)
	background: $cover
	opacity: 0.5
	-moz-opacity: 0.5
	left: 0
	top: 0
	height: 99%
	width: 100%
	position: fixed
	display: none
	
